.ButtonPink {
    width: 200px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    background-color: #ff067c;
    border: none;
    margin-left: 35px;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 3px 2px;
    outline: none;
    cursor: pointer;
}
.ButtonPink:hover {
    box-shadow: 0 0 10px 1px #9d9ea0;
}
