.Payments {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
.Payments__header {
    border-bottom: 2px solid #e5e5ea;
    padding-bottom: 10px;
    text-align: center;
}
.Payments__title {
    color: #b1b0b0;
    font-size: 30px;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    margin: 0 auto;
}
.Payments__content, .Payments__header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* filter */
.Payments__filter {
    text-align: right;
}
.Payments__filter-input {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.Payments__filter-title {
    margin: 5px;
}
.mb {
    margin-bottom: 14px;
    width: 150px;
}
.Payments__filter-item {
    margin: 0 30px;
}
select, input {
    height: 35px;
    box-sizing: border-box;
    padding: 5px;
    margin: 0 10px;
    font-size: 14px;
    border-radius: 0;
    border: 1px solid gray;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown__title {
    padding: 8px 10px;
    width: 150px;
    border: 1px solid gray;
    cursor: pointer;
}
.dropdown__content {
    display: none;
    position: absolute;
    margin-top: 5px;
    list-style: none;
    background: white;
    width: 144px;
    border: 1px solid gray;
    z-index: 1;
}
.dropdown:hover .dropdown__content {
    display: block;
}
.dropdown__content-item {
    padding: 5px 10px;
}
.dropdown__content-item:hover {
    background: #bbb9b9;
}
.Payments__filter-control {
    margin: 20px 0 10px;
}

@media screen and (min-width:600px) {
    .Payments {
        padding: 15px;
    }
    .Payments__header {
        justify-content: space-between;
    }
    .Payments__title {
        text-align: left;
        margin: 0;
    }
}
