.Modal {
    max-width: 1200px;
    padding: 10px;
    z-index: 500;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 1px 1px 100px black;
    text-align: center;
    transition: all 0.3s ease-out;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.Modal__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px;
}
.Modal__img {
    height: 60vh;
    display: block;
}

@media screen and (min-width: 600px){
    .filter {
        left: 51%;
        top: 30%;
    }
}
@media screen and (min-width: 1200px){
    .filter {
        left: 51%;
        top: 30%;
    }
}