.Modal {
    width: 80%;
    padding: 20px;
    z-index: 500;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 1px 1px 1px black;
    margin: 50px 0;
    text-align: center;
    transition: all 0.3s ease-out;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.Modal__container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.Modal__img {
    width: 100%;
    display: block;
}
@media screen and (max-width: 900px){
    .Modal, .Modal__img {
        width: 100%;
    }
}
@media screen and (max-width: 600px){
    .Modal, .Modal__img {
        max-width: 100%;
    }
}