h4 {
  margin: 2rem 0rem 1rem;
}

.table-image > td,
th {
  vertical-align: middle;
  text-align: center;
}
.table{
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.table>thead{
    background-color: #009879;
    color: #ffffff;
    text-align: left;

}
.table,td,th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    height: 100%;
}
.flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Account__id {
  border-top: 1px solid black;
}
