.UserMenu__title {
    color: white;
    margin: 0;
    font-size: 16px;
}
.UserMenu__btn {
    border-radius: 18px;
    border: 1.5px solid #e5e5ea;
    width: 80px;
    height: 32px;
    background-color: inherit;
    color: #fff;
    margin-left: 20px;
    outline: none;
    cursor: pointer;
}
@media screen and (min-width:1200px){
    .UserMenu__title{
        font-size: 20px;
    }
}
