.AdminPanel__navlink {
    display: inline-block;
    cursor: pointer;
    border: none;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    background: linear-gradient(64.35deg,#ff7488 9.2%,#ff077d 89.76%);
    color: white;
    border-radius: 10px;
    outline: none;
    font-size: 14px;
}
.flexs {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.tac {
    margin: 0 auto;
}
.border {
    border: 1px solid #ff077d;
    border-radius: 10%;
    padding: 5px;
    margin: 5px;
}