.DayTiming {
    display: flex;
    max-width: 1020px;
    margin: 0 auto;
    min-height: 300px;
    background: white;
    z-index: 6;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 10px;
    box-shadow: 0 0 5px 2px black;
    padding: 10px;
    align-items: center;
}
.DayTiming__table-wrapper {
    display: flex;
    flex-direction: column;
}
.DayTiming__table {}
.DayTiming__table--timing {}



/*Начало формы для отправки резерва*/
.DayTiming__btn {
    padding: 10px;
    border-radius: 5px;
    color: #4e4e4e;
    border: none;
    outline: none;
    user-select: none;
    background: lightgreen;
    box-shadow: 0 0 3px 1px black;
    cursor: pointer;
    transition: 0.1s;
    margin: 10px 0;
    display: block;
}
.DayTiming__btn:disabled {
    background: lightgray;
    color: gray;
}
.DayTiming__btn:disabled:hover {
    background: lightgray;
    color: gray;
}
.DayTiming__btn:hover {
    background: lawngreen;
}
.DayTiming__btn:active {
    transform: scale(0.99);
    box-shadow: 0 0 1px 1px black;
}
.DayTiming__footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 100px;
}
.DayTiming__emptySpace {
    height: 53px;
}
.DayTiming__footer--text {
    font-weight: bold;
    margin-right: 30px;
}
.DayTiming__footer--bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.DayTiming__footer--form {
    display: flex;
    flex-direction: column;
}
.DayTiming__footer--input {
    width: 250px;
    box-sizing: border-box;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #4e4e4e;
    background: white;
    border-radius: 5px;
}
.DayTiming__footer--textarea {
    resize: none;
    height: 200px;
}
.DayTiming__form--text {
    color: #4e4e4e;
    margin: 0;
}
.DayTiming__workerName {
    color: #4e4e4e;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #4e4e4e;
    display: flex;
    align-items: center;
    margin: 5px 0;
}
.DayTiming__workerName--deleteIcon {
    width: 20px;
    height: 20px;
    margin-left: auto;
    background: url('../../assets/images/ic-close-blue.svg')center no-repeat;
    cursor: pointer;
}
.DayTiming__workerName--text {
    margin: 0;
}
.DayTiming__form--hideInput {
    display: none;
}
.DayTiming__form--fileBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.DayTiming__form--text--shorten {
    width: 150px;
    word-wrap: break-word;
}
.DayTiming__form--fileBlock--toggled {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
}
.DayTiming__form--chooseFileBtn {
    padding: 5px;
    background: lightgreen;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    margin: 5px 0;
    box-shadow: 0 0 3px 1px black;
    color: #4e4e4e;
    font-size: 12px;
    transition: 0.2s;
}
.DayTiming__form--chooseFileBtn:hover {
    background: lawngreen;
}
.DayTiming__form--chooseFileBtn:active {
    transform: scale(0.99);
    box-shadow: 0 0 1px 1px black;
}
.DayTiming__table__title {
    color: deeppink;
}
.LoaderCalendar {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    z-index: 100;
    background: url("../../assets/images/loader.gif") center center no-repeat;
}
